
build/android-profile/profile-2017-08-03-23-46-32-321.rawproto

.gradle/3.3/taskArtifacts/fileHashes.bin

.gradle/3.3/taskArtifacts/fileSnapshots.bin

.gradle/3.3/taskArtifacts/taskArtifacts.bin

.gradle/3.3/taskArtifacts/taskArtifacts.lock

.idea/compiler.xml
